---
import ExpLayout from "../../../layouts/ExpLayout.astro";
import ChartCatch from "../../../components/chart-catch";
---

<ExpLayout pageTitle="Canvas video shape">
  <div class="page container mx-auto max-w-2xl mt-8 prose">
    <div class="mb4" style="max-width: 780px;">
      <h1>HTML over SVG over Canvas</h1>
      <p>
        I just like the idea of layering a canvas on top of a canvas. Then an
        SVG over that. Then some standard HTML over that.
      </p>
    </div>
    <ChartCatch client:load />
  </div>
</ExpLayout>
