---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "experiments";
---

<BaseLayout pageTitle={pageTitle} includeFooter={false}>
    <div class="content-container section-spacing">
        <div class="explist">
            <a href="/experiments/seam" class="shadow hover">
                <span class="label">SC</span>
                <span class="description">seam carving</span>
                <span class="counter fill-low"></span>
            </a>
            <a href="/experiments/web-audio" class="shadow hover">
                <span class="label">WA</span>
                <span class="description">web audio</span>
                <span class="counter fill-low"></span>
            </a>
            <a href="/experiments/canvas-exp" class="shadow hover">
                <span class="label">CVG</span>
                <span class="description">canvas video grid</span>
                <span class="counter fill-low"></span>
            </a>
            <a href="/experiments/canvas-video-shape" class="shadow hover">
                <span class="label">CVS</span>
                <span class="description">canvas video shape clipping</span>
                <span class="counter fill-low"></span>
            </a>
            <a href="/experiments/particles" class="shadow hover">
                <span class="label">P</span>
                <span class="description">particles</span>
                <span class="counter fill-low"></span>
            </a>
            <a href="/experiments/html-svg-canvas" class="shadow hover">
                <span class="label">HSC</span>
                <span class="description text-left">&rarr;html &rarr;svg &rarr;canvas</span>
                <span class="counter fill-low"></span>
            </a>
        </div>
    </div>
</BaseLayout>


