---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import Prose from "../components/Prose.astro";
import { getCollection } from "astro:content";
import "../styles/global.css";
const pageTitle = "Blog Page";
import createSlug from "../lib/createSlug";
const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle={pageTitle}>
  <div class="content-container section-spacing">
    <Prose>
      <ul>
        {
          allPosts
            .filter((post) => post.data.tags.includes("post"))
            .sort((a, b) => a.data.date.getTime() - b.data.date.getTime())
            .reverse()
            .map((post) => (
              <BlogPost
                url={`/${createSlug(post.data.title)}`}
                title={post.data.title}
                excerpt={post.data.excerpt}
              />
            ))
        }
      </ul>
    </Prose>
  </div>
</BaseLayout>
