body,
html {
	background-color: #eee;
}

.launcher {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	height: 99vh;
	padding-top: 5vh;
	min-height: 480px;
}

.flourish {
	cursor: pointer;
}

.control-box path {
	opacity: 0.5;
	stroke-width: 2;
	stroke-dasharray: 360;
	pointer-events: bounding-box;
}

.control-box.link path {
	stroke-width: 18;
	/* opacity: 0.6; */
}

.control-box.link path.highlighter {
	pointer-events: none;
}

.control-box-banner path {
	opacity: 0.5;
	stroke-width: 2;
	pointer-events: bounding-box;
}

.control-box-banner path.flag {
	opacity: 1;
	stroke: none;
}

.flourish use,
.flourish text {
	stroke: transparent;
	transition: fill 500ms ease-in;
	pointer-events: none;
}

path:focus,
a:focus {
	outline: none;
}

text {
	font-family: courier, courier new, serif;
	font-size: 95%;
}

text.big {
	font-weight: bold;
	font-size: 160%;
}

text.medium {
	font-size: 130%;
}

text.small {
	font-weight: normal;
	font-size: 90%;
}

text.middle {
	dominant-baseline: middle;
	text-anchor: middle;
}

.links {
	display: flex;
	flex-direction: column;
}

.links a {
	text-align: center;
	font-family: monospace;
	padding: 5px;
	color: inherit;
	cursor: pointer;
	text-decoration: underline;
	margin-bottom: 10px;
}

.links a:hover {
	transition: all 200ms linear;
	color: #fff;
	background-color: #222;
	text-decoration: none;
}

/* .links a:before {
	position: absolute;
	content: '‣';
	left: -15px;
} */
