<header class="flex items-center justify-between bb">
  <b><a href="/writes/">I write stuff. sometimes.</a></b>
  <a href="/">
      <img src="/assets/favicon-32x32.png" width="32" height="32" alt="">
  </a>
</header>
