---

---

<div
  class="prose
	prose-invert
  prose-h1:font-bold prose-h1:text-xl
	prose-body:text-black prose-body:text-base
	prose-headings:text-black
	prose-p:text-black
	prose-code:text-black
	prose-code:bg-inherit
	prose-code:font-thin
	prose-code:text-xs
	prose-code:italic
	prose-code:before:content-none
	prose-code:after:content-none
	prose-ul:list-disc prose-ul:pl-4
	prose-strong:text-black
	prose-ruby:text-black
	prose-li:text-black"
>
  <slot />
</div>
