 body {
	background-color: #111;
	font-family: Verdana, "Bitstream Vera Sans", sans-serif;
}

header {
	padding: 20px;
	margin: 0 auto;
	max-width: 800px;
	color: #fff
}

header b {
	color: #999;
}

.standard-article {
	font-size: 1.2rem;
	padding: 20px;
	margin: 0 auto;
	max-width: 800px;
	color: #fff
}

.standard-article a {
	color: #ff0;
	text-decoration: none;
}

.standard-article a:hover {
	text-decoration: underline;
}

.standard-article p {
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.postlist {
	margin: 0;
	padding: 0;
}

.postlist .postlist-item {
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

.postlist .postlist-item .postlist-link {
	font-size: 1.5rem;
}

.postlist .postlist-item .postlist-date {
	font-size: 1rem;
	padding-bottom: 5px;
}