body {
	background-color: #111;
}

.standard-article {
	font-size: 1rem;
	padding: 20px;
	margin: 0 auto;
	width: 800px;
	color: #fff
}

.standard-article a {
	color: #ff0;
	text-decoration: none;
}

.standard-article a:hover {
	text-decoration: underline;
}

.standard-article p {
	line-height: 1.5;
}
