.elsewhere {
	& h2 {
		color: #ccc;
		font-size: 2.4rem;
		margin-bottom: 10px;
	}

	& a {
		text-decoration: none;
		color: #ccc;
		font-size: 1.2rem;
		line-height: 1.5;
		transition: 1s all ease-out;

		&:hover {
			color: #000;
		}
	}
}
