.flourish {
	cursor: pointer;
	& #control-box path {
		opacity: 0.5;    
		stroke-width: 2;
		fill: transparent;
		stroke-dasharray: 360;
	}

	& circle {
		transition: fill 500ms ease-in;
	}

	& .icon {
		stroke: transparent;
		transition: fill 500ms ease-in;
	}
}