---
const { pageTitle, sui = true, tachyons = true, prism = true } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/assets/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    {sui && (
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css"
      integrity="sha512-d0v474klOFSF7qD9WDvyRxAvXaWSxCHDZdnBSZQjo8BpVr6vpjwAgqetpqkKP38DzlOzdVPaLVnzzW1Ba8wB9w=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
    />
    )}
    {prism && (
        <link
        href="https://unpkg.com/prismjs@1.20.0/themes/prism.css"
        rel="stylesheet"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/prism.min.js" integrity="sha512-9+422Bs3A87UkWfp+qV80Nfv9arhbCXKY1rxrF2seorI36mIIstMiuBfyKLF1yH1nnzQkEWq2xrzT4XU3Z+vrA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/prism.min.js" integrity="sha512-9+422Bs3A87UkWfp+qV80Nfv9arhbCXKY1rxrF2seorI36mIIstMiuBfyKLF1yH1nnzQkEWq2xrzT4XU3Z+vrA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    )}
    <title>{pageTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
